

*, *::after, *::before{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background: rgb(255, 99, 71);
    background: linear-gradient(90deg,rgb(191, 94, 159)0%,
    rgb(246, 144, 126)100%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card-body{
    background: rgb(229, 236, 236);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.card-body{
    margin-bottom:10px ;
    font-size: 40px;
}
.card-btn button{
    color: black;
    padding: 10px 35px;
    border: 0;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(72, 70,
     70);
     transition: 0.5s;
}

button#Decrement{
    background: rgb(150, 147, 247);

}
button#Decrement:hover{
    color: white;
    background: rgb(14, 182, 59);
}
button#Increment{
    background: rgb(150, 147, 247);

}
button#Increment:hover{
    color: white;
    background:rgb(14, 182, 59);;
}
button#Reset{
    background:rgb(249, 156, 140);

}
button#Reset:hover{
    color: white;
    background: red;
}